<div class="container">
  <ng-template #errors>

    <div class="alert-danger text-bg-danger">{{errorsMsg}}</div>
  </ng-template>
  <div class="card" *ngIf="products;else errors">
    <div class="card-header">Products lists
    </div>



    <div class="card-body">
      <form [formGroup]="searchFormGroups" (ngSubmit)="HandleSearchProducts()">
        <div class="input-group">
          <label class="input-group-text" >keyword:</label>
          <input type="text" class="form-control" formControlName="keyword">
          <button type="btn btn-info"> <i class="bi-search"></i></button>
        </div>
      </form>
      <table class="table" >
        <thead>
        <tr>
        <th scope="col">ID</th><th scope="col">Products Name</th><th scope="col">price</th><th></th><th>Promotion</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of products ">
            <td>{{ p.id }}</td>
            <td>{{ p.name }}</td>
            <td>{{ p.price }}</td>
            <td><button (click)="handleDeleteProducts(p)" class="btn btn-danger"><i class="bi bi-trash"></i> </button></td>
            <td><i *ngIf="p.promotion==true "class="bi bi-heart-fill text-success"></i> </td>
            <td><button  (click)="HandleSetPromotion(p)" [ngClass]="p.promotion==true?'btn-danger':'btn-success'" class="btn">
              <span *ngIf="p.promotion==true">Promo On</span>
              <span *ngIf="p.promotion==false">Promo Off</span>

            </button></td>
          </tr>
        </tbody>

      </table>
      <ul class="nav nav-pills">
        <li *ngFor="let item of [].constructor(this.totalPages);let i=index">
          <a  (click)="gotoPage(i)" [ngClass]="i == currentPage ?'btn-info' :'btn-outline-info'" class="btn ms-1 mt-1">{{i}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
